<app-hometopnews *ngIf="!isCategoryRoute()"></app-hometopnews>
<h1>ახალი ამბები</h1>
<main>
    <div class="main_div">    
        <div class="main_div_left"> 
            <div class="news" *ngFor="let p of posts">
                <a routerLink="/post/detail/{{p.slug}}">
                    <img [src]="p.mainImageUrl" alt="{{p.title}}">
                    <span>{{p.createdOn | date:'dd/MM/yyyy'}}</span>
                    <p>{{p.title}} <br> <!-- <span class="card-text-t">{{p.content.substr(0,100)}} ...</span> -->
                    </p>               
                </a>
            </div>
        </div>  
        <div class="main_div_right">
           <h3>უახლესი ამბები</h3>
           <app-last-news class="right_news"></app-last-news>
           
        </div>
    </div>
</main>




